@model WebApp.ViewModels.CustomerPreferences.CustomerPreferenceEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer preference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerPreference.CreatedAt" class="control-label"></label>
                <input asp-for="CustomerPreference.CreatedAt" class="form-control" />
                <span asp-validation-for="CustomerPreference.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPreference.DeletedAt" class="control-label"></label>
                <input asp-for="CustomerPreference.DeletedAt" class="form-control" />
                <span asp-validation-for="CustomerPreference.DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPreference.DietaryCategoryId" class="control-label"></label>
                <select asp-for="CustomerPreference.DietaryCategoryId" class="form-control" asp-items="Model.DietaryCategoryOptions"></select>
                <span asp-validation-for="CustomerPreference.DietaryCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPreference.CustomerId" class="control-label"></label>
                <select asp-for="CustomerPreference.CustomerId" class="form-control" asp-items="Model.CustomerOptions"></select>
                <span asp-validation-for="CustomerPreference.CustomerId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CustomerPreference.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

