@model WebApp.ViewModels.MealSubscriptions.MealSubscriptionEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meal subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MealSubscription.IsActive" /> @Html.DisplayNameFor(model => model.MealSubscription.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.StartDate" class="control-label"></label>
                <input asp-for="MealSubscription.StartDate" class="form-control" />
                <span asp-validation-for="MealSubscription.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.EndDate" class="control-label"></label>
                <input asp-for="MealSubscription.EndDate" class="form-control" />
                <span asp-validation-for="MealSubscription.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MealSubscription.AutoSelectEnabled" /> @Html.DisplayNameFor(model => model.MealSubscription.AutoSelectEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.NoRepeatWeeksOverride" class="control-label"></label>
                <input asp-for="MealSubscription.NoRepeatWeeksOverride" class="form-control" />
                <span asp-validation-for="MealSubscription.NoRepeatWeeksOverride" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.CreatedAt" class="control-label"></label>
                <input asp-for="MealSubscription.CreatedAt" class="form-control" />
                <span asp-validation-for="MealSubscription.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.UpdatedAt" class="control-label"></label>
                <input asp-for="MealSubscription.UpdatedAt" class="form-control" />
                <span asp-validation-for="MealSubscription.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.DeletedAt" class="control-label"></label>
                <input asp-for="MealSubscription.DeletedAt" class="form-control" />
                <span asp-validation-for="MealSubscription.DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.CompanyId" class="control-label"></label>
                <input asp-for="MealSubscription.CompanyId" class="form-control" />
                <span asp-validation-for="MealSubscription.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.CustomerId" class="control-label"></label>
                <select asp-for="MealSubscription.CustomerId" class="form-control" asp-items="Model.CustomerOptions"></select>
                <span asp-validation-for="MealSubscription.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealSubscription.BoxId" class="control-label"></label>
                <select asp-for="MealSubscription.BoxId" class="form-control" asp-items="Model.BoxOptions"></select>
                <span asp-validation-for="MealSubscription.BoxId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MealSubscription.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

