@model WebApp.ViewModels.SystemSettings.SystemSettingEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SystemSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemSetting.Category" class="control-label"></label>
                <input asp-for="SystemSetting.Category" class="form-control" />
                <span asp-validation-for="SystemSetting.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.Key" class="control-label"></label>
                <input asp-for="SystemSetting.Key" class="form-control" />
                <span asp-validation-for="SystemSetting.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.Value" class="control-label"></label>
                <input asp-for="SystemSetting.Value" class="form-control" />
                <span asp-validation-for="SystemSetting.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.ValueType" class="control-label"></label>
                <input asp-for="SystemSetting.ValueType" class="form-control" />
                <span asp-validation-for="SystemSetting.ValueType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SystemSetting.IsSensitive" /> @Html.DisplayNameFor(model => model.SystemSetting.IsSensitive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.UpdatedAt" class="control-label"></label>
                <input asp-for="SystemSetting.UpdatedAt" class="form-control" />
                <span asp-validation-for="SystemSetting.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemSetting.UpdatedByAppUserId" class="control-label"></label>
                <select asp-for="SystemSetting.UpdatedByAppUserId" class="form-control" asp-items="Model.UpdatedByUserOptions"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
