@model WebApp.ViewModels.CompanyUsers.CompanyUserEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyAppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CompanyAppUser.IsOwner" /> @Html.DisplayNameFor(model => model.CompanyAppUser.IsOwner)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CompanyAppUser.IsActive" /> @Html.DisplayNameFor(model => model.CompanyAppUser.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAppUser.AppUserId" class="control-label"></label>
                <select asp-for="CompanyAppUser.AppUserId" class="form-control" asp-items="Model.AppUserOptions"></select>
                <span asp-validation-for="CompanyAppUser.AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAppUser.CompanyRoleId" class="control-label"></label>
                <select asp-for="CompanyAppUser.CompanyRoleId" class="form-control" asp-items="Model.CompanyRoleOptions"></select>
                <span asp-validation-for="CompanyAppUser.CompanyRoleId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CompanyAppUser.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

