@model WebApp.ViewModels.CompanyUsers.CompanyUserEditViewModel

@{
    ViewData["Title"] = "Update role";
}

<h1>Update company role</h1>

<h4>Company member role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="TargetEmail" class="form-label">User email</label>
                <input asp-for="TargetEmail" class="form-control" readonly />
            </div>

            <div class="mb-3">
                <label asp-for="CompanyAppUser.CompanyRoleId" class="form-label">Role</label>
                <select asp-for="CompanyAppUser.CompanyRoleId" class="form-select" asp-items="Model.CompanyRoleOptions"></select>
                <span asp-validation-for="CompanyAppUser.CompanyRoleId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="CompanyAppUser.Id" />
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

