@model WebApp.ViewModels.Companies.CompanyEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.Name" class="control-label"></label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Slug" class="control-label"></label>
                <input asp-for="Company.Slug" class="form-control" />
                <span asp-validation-for="Company.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.RegistrationNumber" class="control-label"></label>
                <input asp-for="Company.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Company.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactEmail" class="control-label"></label>
                <input asp-for="Company.ContactEmail" class="form-control" />
                <span asp-validation-for="Company.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactPhone" class="control-label"></label>
                <input asp-for="Company.ContactPhone" class="form-control" />
                <span asp-validation-for="Company.ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.WebSiteUrl" class="control-label"></label>
                <input asp-for="Company.WebSiteUrl" class="form-control" />
                <span asp-validation-for="Company.WebSiteUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Company.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

