@model WebApp.ViewModels.QualityComplaints.QualityComplaintEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QualityComplaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QualityComplaint.Severity" class="control-label"></label>
                <input asp-for="QualityComplaint.Severity" class="form-control" />
                <span asp-validation-for="QualityComplaint.Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.Description" class="control-label"></label>
                <input asp-for="QualityComplaint.Description" class="form-control" />
                <span asp-validation-for="QualityComplaint.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.EscalatedAt" class="control-label"></label>
                <input asp-for="QualityComplaint.EscalatedAt" class="form-control" />
                <span asp-validation-for="QualityComplaint.EscalatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.EscalationAction" class="control-label"></label>
                <input asp-for="QualityComplaint.EscalationAction" class="form-control" />
                <span asp-validation-for="QualityComplaint.EscalationAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.CustomerId" class="control-label"></label>
                <select asp-for="QualityComplaint.CustomerId" class="form-control" asp-items="Model.CustomerOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.DeliveryId" class="control-label"></label>
                <select asp-for="QualityComplaint.DeliveryId" class="form-control" asp-items="Model.DeliveryOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.QualityComplaintTypeId" class="control-label"></label>
                <select asp-for="QualityComplaint.QualityComplaintTypeId" class="form-control" asp-items="Model.QualityComplaintTypeOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="QualityComplaint.QualityComplaintStatusId" class="control-label"></label>
                <select asp-for="QualityComplaint.QualityComplaintStatusId" class="form-control" asp-items="Model.QualityComplaintStatusOptions"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

