@model WebApp.ViewModels.PlatformSubscriptions.PlatformSubscriptionEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlatformSubscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformSubscription.ValidFrom" class="control-label"></label>
                <input asp-for="PlatformSubscription.ValidFrom" class="form-control" />
                <span asp-validation-for="PlatformSubscription.ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscription.ValidTo" class="control-label"></label>
                <input asp-for="PlatformSubscription.ValidTo" class="form-control" />
                <span asp-validation-for="PlatformSubscription.ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscription.PlatformSubscriptionTierId" class="control-label"></label>
                <select asp-for="PlatformSubscription.PlatformSubscriptionTierId" class="form-control" asp-items="Model.PlatformSubscriptionTierOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscription.PlatformSubscriptionStatusId" class="control-label"></label>
                <select asp-for="PlatformSubscription.PlatformSubscriptionStatusId" class="form-control" asp-items="Model.PlatformSubscriptionStatusOptions"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

