@model WebApp.ViewModels.SupportAccess.SupportAccessEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TenantSupportAccess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.CompanyId" class="control-label"></label>
                <select asp-for="TenantSupportAccess.CompanyId" class="form-control" asp-items="Model.CompanyOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.SupportUserId" class="control-label"></label>
                <select asp-for="TenantSupportAccess.SupportUserId" class="form-control" asp-items="Model.SupportUserOptions"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TenantSupportAccess.IsReadOnly" /> @Html.DisplayNameFor(model => model.TenantSupportAccess.IsReadOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.Reason" class="control-label"></label>
                <input asp-for="TenantSupportAccess.Reason" class="form-control" />
                <span asp-validation-for="TenantSupportAccess.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.GrantedAt" class="control-label"></label>
                <input asp-for="TenantSupportAccess.GrantedAt" class="form-control" />
                <span asp-validation-for="TenantSupportAccess.GrantedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.RevokedAt" class="control-label"></label>
                <input asp-for="TenantSupportAccess.RevokedAt" class="form-control" />
                <span asp-validation-for="TenantSupportAccess.RevokedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantSupportAccess.GrantedByAppUserId" class="control-label"></label>
                <select asp-for="TenantSupportAccess.GrantedByAppUserId" class="form-control" asp-items="Model.GrantedByUserOptions"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
