@model WebApp.ViewModels.PlatformSubscriptionTiers.PlatformSubscriptionTierEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlatformSubscriptionTier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.Code" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.Code" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.Name" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.Name" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.MaxZones" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.MaxZones" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.MaxZones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.MaxSubscribers" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.MaxSubscribers" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.MaxSubscribers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.MaxEmployees" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.MaxEmployees" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.MaxEmployees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformSubscriptionTier.MaxRecipes" class="control-label"></label>
                <input asp-for="PlatformSubscriptionTier.MaxRecipes" class="form-control" />
                <span asp-validation-for="PlatformSubscriptionTier.MaxRecipes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PlatformSubscriptionTier.IsActive" /> @Html.DisplayNameFor(model => model.PlatformSubscriptionTier.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

