@model WebApp.ViewModels.SupportTickets.SupportTicketEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SupportTicket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupportTicket.Title" class="control-label"></label>
                <input asp-for="SupportTicket.Title" class="form-control" />
                <span asp-validation-for="SupportTicket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.Description" class="control-label"></label>
                <input asp-for="SupportTicket.Description" class="form-control" />
                <span asp-validation-for="SupportTicket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.Priority" class="control-label"></label>
                <input asp-for="SupportTicket.Priority" class="form-control" />
                <span asp-validation-for="SupportTicket.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.CreatedAt" class="control-label"></label>
                <input asp-for="SupportTicket.CreatedAt" class="form-control" />
                <span asp-validation-for="SupportTicket.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.UpdatedAt" class="control-label"></label>
                <input asp-for="SupportTicket.UpdatedAt" class="form-control" />
                <span asp-validation-for="SupportTicket.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.ClosedAt" class="control-label"></label>
                <input asp-for="SupportTicket.ClosedAt" class="form-control" />
                <span asp-validation-for="SupportTicket.ClosedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.CompanyId" class="control-label"></label>
                <select asp-for="SupportTicket.CompanyId" class="form-control" asp-items="Model.CompanyOptions"></select>
                <span asp-validation-for="SupportTicket.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.CreatedByAppUserId" class="control-label"></label>
                <select asp-for="SupportTicket.CreatedByAppUserId" class="form-control" asp-items="Model.CreatedByUserOptions"></select>
                <span asp-validation-for="SupportTicket.CreatedByAppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.AssignedToAppUserId" class="control-label"></label>
                <select asp-for="SupportTicket.AssignedToAppUserId" class="form-control" asp-items="Model.AssignedToUserOptions"></select>
                <span asp-validation-for="SupportTicket.AssignedToAppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportTicket.SupportTicketStatusId" class="control-label"></label>
                <select asp-for="SupportTicket.SupportTicketStatusId" class="form-control" asp-items="Model.StatusOptions"></select>
                <span asp-validation-for="SupportTicket.SupportTicketStatusId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SupportTicket.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
